{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}

  <div>
    <button id="start">Start</button>
    <button id="abort">Abort</button>
  </div>
  <div id="status"></div>
{% endblock %}
